# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry
poetry.lock
.env
.venv
venv/

# IDE
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log

# mypy
.mypy_cache/

# pytest
.pytest_cache/