# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Poetry
poetry.lock
.env
.venv
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Coverage report
".coverage" 
